@import './colors.scss';

.header-container{
    z-index: 1;
    top:0;
    width: 100%;
    left:0;
    right: 0;
    position: fixed;
    background: transparentize($color: #fff, $amount: .1);
}

.nav-container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    
    nav{
        text-align: center;
        display: flex;
        max-width: 960px;
        justify-content: space-between;
        @include breakpoint($breakpoint-tablet) {
           display: block;
           background:$mobile-gray;
           padding:15px;
        }
    }
    .logo-container{
        object-fit: cover;
        @include breakpoint($breakpoint-tablet) {
            display: block;
            margin: 10px;
            float: left;
        }
        img{
            max-height: 60px;
        }
    }
    .second-nav{
        display: flex;
      justify-content: flex-end;
      margin-right: 50px;
      max-width: 730px;
      @include breakpoint($breakpoint-tablet){
          display: none;
      }
      a{    
          margin:-20px 30px 0px 30px;
          position: relative;
          padding-bottom: 5px;
          color:$dark-gray;
            &.active{
                font-weight: bold;
                &:after{
                position: absolute;
                content: '';
                background: $color-red;
                height: 5px;
                bottom: 0px;
                left: -5px;
                right: -5px;
                }
            }
        }
    }
   .icon-wrapper {
    display: none;
    float: right;
    margin:15px;
        .icon{
            border-radius: 5px;
            width: 35px;
            height: 5px;
            background-color: $dark-gray;
            margin: 6px 0;
            display: block;
        }
    @include breakpoint($breakpoint-tablet){
        display: block;
    }
   }
}

.link-underline {
    text-decoration: underline;
    font-size:$font-xs;
    padding:15px;
    position: relative;
    color:$dark-gray;
    font-weight: 300;
    @include breakpoint($breakpoint-tablet) {
        padding: 0;
    }
}
.pipe{
    color:$dark-gray;
    padding:15px;
}

.label-contact-us{
    font-size: $font-xs;
    margin: 10px 20px 10px 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 8px;
    background-color: $color-red;
    @include breakpoint($breakpoint-tablet) {
        display: none;
    }
}
